<!-- Footer-->
<footer class="footer py-4" style="background-color: #c2a890;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Coloradowomenonthefly.com 2021</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/ColoradoWomenontheFly/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/groups/cowomenonthefly/" target="_blank"><i class="fad fa-users"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/ColoradoWomenontheFly?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="mailto:dreamteam@coloradowotf.com"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" [routerLink]="['/privacy-policy']">Privacy Policy</a>
                <a class="link-dark text-decoration-none" [routerLink]="['/terms-of-use']">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>