
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Colorado Women on the Fly</div>
        <div class="masthead-subheading">Community. Conservation. Confidence.</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="/shop">View Events</a>
    </div>
</header>

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Mission</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fad fa-handshake-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Community</h4>
                <p class="text-muted">Connecting like-minded women.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Conservation</h4>
                <p class="text-muted">Preservation today for recreation tomorrow.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Confidence</h4>
                <p class="text-muted">Building skills for mental health and survival.</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Build Your Skills</h2>
            <h3 class="section-subheading text-muted">Pluck the feather. Tie the fly. Catch the fish.</h3>
        </div>
        <div class="row">
            
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_0173.HEIC" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Waterfowl Hunting</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/DSC_0341.JPG" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Fly Fishing</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_0544.HEIC" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Firearm Safety</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_0335.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Horseback Riding</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_1147.PNG" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Protecting Habitat</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_0473.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Wilderness Survival</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_0066.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Happy Hours!</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_0556.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Prepare Yourself</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/DSC_0800.JPG" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Camping</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_4978.HEIC" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Pheasant & Turkey</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_0590.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Fly Tying</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/IMG_3402.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">High Alpine Hikes</div>
                        <div class="portfolio-caption-subheading text-muted"><a href="">Check out our events</a></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- image carosel -->
<carousel class="homeSlider">
    <slide>
        <img src="assets/images/IMG_3402.jpg" alt="second slide" style="display: block;width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/IMG_0152.JPG" alt="first slide" style="display: block;width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/DSC_0800.JPG" alt="third slide" style="display: block;width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/IMG_0490.JPG" alt="third slide" style="display: block;width: 100%;">
    </slide>
</carousel>

<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">

            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/images/Dowell_-61.jpeg" alt="..." />
                    <h4>Erin Crider</h4>
                    <p class="text-muted">Shenanigator</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/bigfootwrangler?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-member">                  
                    <img class="mx-auto rounded-circle" src="assets/images/IMG_0588v2.png" alt="..." />
                    <h4>April Ferzuco</h4>
                    <p class="text-muted">Instagram & Creative</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/ap.fair?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
           
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/images/IMG_0584v2.png" alt="..." />
                    <h4>Ahn Thai</h4>
                    <p class="text-muted">Fly Tier & High Alpine Hiker</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/summit_air?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>            

            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/images/IMG_3128v2.heic" alt="..." />
                    <h4>Geri Reffel</h4>
                    <p class="text-muted">Shenanigator Wrangler</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/geri.reffel" target="_blank"><i class="fa fa-facebook-f"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/images/IMG_0355.jpg" alt="..." />
                    <h4>Madi Shaheen</h4>
                    <p class="text-muted">Certified Therapist & Naturalist</p>
                    <a class="btn btn-dark btn-social mx-2" href="mailto:Madi@resilience1220.org"><i class="fa fa-envelope"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/images/IMG_0591.jpg" alt="..." />
                    <h4>Emma Brown</h4>
                    <p class="text-muted">Horse Wrangler & Fishing Instructor</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/emmabrowntrout?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/images/IMG_0589v3.png" alt="..." />
                    <h4>Draya Grangroth</h4>
                    <p class="text-muted">Archery Hunter & Photographer</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/whats_your_wild?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>

            
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/images/IMG_0568v2.jpg" alt="..." />
                    <h4>Kerrie Beyer</h4>
                    <p class="text-muted">Wilderness Medical Professional</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/nurse_kerrie?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/images/female-blankv2.jpg" alt="..." />
                    <h4>You?</h4>
                    <p class="text-muted">Email or Sign Up to join the team</p>
                    <a class="btn btn-dark btn-social mx-2" href="mailto:dreamteam@coloradowotf.com"><i class="fa fa-envelope"></i></a>
                </div>
            </div> 

        </div>
        
        <!-- <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                    laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div> -->
    </div>
</section>

<!-- Partners-->
<div class="py-5" style="background-color: #fff">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/microsoft.svg"
                        alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/google.svg"
                        alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/facebook.svg"
                        alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/ibm.svg"
                        alt="..." /></a>
            </div>
        </div>
    </div>
</div>

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
        </form>
    </div>
</section>

<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Threads
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Illustration
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

