 .featured {
    height: 250px;
}

.homeSlider img {
    object-fit: cover;
    height: 550px;
    width: 100%;
}

//@media (min-width: 768px) {
    section {
      padding: 5rem 0; //changed from 8, then 6 (maybe go back)
      background-color: #fff;
    }
//}

.text-primary {
  color:#2A403D!important;
}

.btn-primary {
  background-color: #2A403D;
}

.btn-primary:hover {
  background-color: #c2a890;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(208, 86, 99, 0.8);
}

.team-member {
  margin-bottom:4.5rem;
}

.team-member img:hover {
  background-color:rgba(42, 64, 61, .7);
}

.svg-inline--fa.fa-stack-2x {
  width:1em;
}

a {
  text-decoration: none;
}

a:hover {
  cursor:pointer;
  text-decoration: underline;
}





