.table .thead-light th {
    background-color: #C3CBD6;
}

.btn-outline-primary {
    background-color:#2A403D;
    color:#fff;
    border-color: #325d88;
}

.btn-outline-primary:hover {
    background-color:#c2a890;
    border-color: transparent;
}
