.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background-color: rgba(208, 86, 99, 1);
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color:#343a40;

    &.active {
        color:#D05663;
    }
}

.logo {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn-outline-secondary {
    color: #fff;
    border-color:#fff;
}

.btn-outline-secondary:hover {
    background-color: #c2a890;
}

.btn-primary:hover {
    background-color: #c2a890;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #D0A287;
}


