<div class="container">
    <div class="row">
        <div class="col-lg-12 my-4">
            <div class="wrapper wrapper-content animated fadeInRight">
                <!-- Inner main header -->
                <div class="inner-main-header-top">
                    <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#"
                        data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>

                    <span class="input-icon input-icon-sm ml-auto w-auto">
                        <input type="text"
                            class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                            placeholder="Search" />
                    </span>
                </div>
                <div class="ibox-content-top forum-container">

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Total posts: 320,800</small>
                        </div>
                        <h3>General Categories</h3>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a routerLink="/community/1" class="forum-item-title">General Discussion</a>
                                <div class="forum-sub-title">Talk about sports, entertainment, music, movies, your
                                    favorite color, talk about enything.</div>
                            </div>
                            <div class="col-md-1 forum-info">

                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    368
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    140
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Introductions</a>
                                <div class="forum-sub-title">New to the community? Please stop by, say hi and tell us a
                                    bit about yourself. </div>
                            </div>
                            <div class="col-md-1 forum-info">

                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    120
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    154
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Announcements</a>
                                <div class="forum-sub-title">This forum features announcements from the community staff.
                                    If there is a new post in this forum, please check it out. </div>
                            </div>
                            <div class="col-md-1 forum-info">

                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    124
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    61
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-main-header">
                    <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#"
                        data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                    <select class="custom-select custom-select-sm w-auto mr-1">
                        <option selected="">Latest</option>
                        <option value="1">Popular</option>
                        <option value="3">Solved</option>
                        <option value="3">Unsolved</option>
                        <option value="3">No Replies Yet</option>
                    </select>
                    <span class="input-icon input-icon-sm ml-auto w-auto">
                        <input type="text"
                            class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                            placeholder="Search" />
                    </span>
                </div>
                <div class="ibox-content forum-container">

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Total posts: 17,800,600</small>
                        </div>
                        <h3>Recent Discussions</h3>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <a routerLink="/comunity/1" class="forum-item-title">Lorem Ipsum is simply dummy text.
                                </a>
                                <div class="forum-sub-title">Various versions have evolved over the years, sometimes by
                                    accident, sometimes on purpose passage of Lorem Ipsum (injected humour and the
                                    like).</div>
                            </div>
                            <div class="col-md-1 forum-info">
                               
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    238
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    180
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>